{% from "components/header.njk" import header %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>{{ (title + " | ") if page.url!="/" }}Lunarythia&rsquo;s Website</title>
  </head>
  <body>
    {{ header() }}
    <main class="mx-auto my-0 max-w-4xl px-10 py-2">{{ content | safe }}</main>
  </body>
</html>
