<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>{{ (title + " | ") if page.url!="/" }}Lunarythia&rsquo;s Website</title>
  </head>
  <body>
    <header class="bg-accent sticky rounded-b-3xl">
      <div class="mx-auto my-0 flex max-w-4xl flex-wrap items-center justify-between gap-x-10 px-10 py-2">
        <a class="text-primary after:bg-primary text-3xl" href="/">Lunarythia :3</a>
        <nav>
          <ul class="flex flex-wrap gap-x-5">
            <li>
              <a
                class="text-primary hocus:opacity-100 after:bg-primary hocus:after:opacity-100 opacity-75 after:opacity-75"
                href="/">
                Home
              </a>
            </li>
            <li>
              <a
                class="text-primary hocus:opacity-100 after:bg-primary hocus:after:opacity-100 opacity-75 after:opacity-75"
                href="/second">
                Second
              </a>
            </li>
            <li>
              <a
                class="text-primary hocus:opacity-100 after:bg-primary hocus:after:opacity-100 opacity-75 after:opacity-75"
                href="#">
                Third
              </a>
            </li>
            <li>
              <a
                class="text-primary hocus:opacity-100 after:bg-primary hocus:after:opacity-100 opacity-75 after:opacity-75"
                href="#">
                Fourth
              </a>
            </li>
            <li>
              <a
                class="text-primary hocus:opacity-100 after:bg-primary hocus:after:opacity-100 opacity-75 after:opacity-75"
                href="#">
                Fifth
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="mx-auto my-0 max-w-4xl px-10 py-2">{{ content | safe }}</main>
  </body>
</html>
