{% macro nav-item(title, link) %}
    {% if title and link %}
            <li><a class="text-primary opacity-75 hocus:opacity-100 after:bg-primary after:opacity-75 hocus:after:opacity-100" href="/">Home</a></li>
    {% endif %}
{% endmacro %}