{% macro navitem(title, link) -%}
  {% if title and link -%}
    <li>
      <a
        class="text-primary after:bg-primary hocus:brightness-100 hocus:after:brightness-100 {{ "brightness-75 after:brightness-75" if page.url != (link | title) else "brightness-90 after:brightness-90" }}"
        href="{{ link }}"
        {{ "aria-current=page" if page.url == (link | title) }}
        >{{ title }}</a
      >
    </li>
  {%- endif %}
{%- endmacro %}
