{
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "printWidth": 120,
    "bracketSameLine": true,
    "overrides": [
        {
            "files": "*.njk",
            "options": {
                "parser": "html"
            }
        }
    ]
}